* { margin: 0; padding: 0; box-sizing: border-box;}
#page { width: 99vw; margin: 0 auto;}
header {display: flex; flex-direction: row; justify-content: space-between;
align-items: center; gap: 1rem; margin-left: 2rem;}
.login {display: flex; gap: 0.5rem; padding: 0; margin: 0; margin-right: 2rem;}
.login li {list-style: none;}
.menu {display: flex; justify-content: center; margin-top: 1rem;}
.menus {display: flex; gap: 1rem; padding: 0; margin: 0;}
.menus li {list-style: none;}
